.form-container{
    background-color: #fff;
    border: 2px solid black;
    border-radius: 10px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    width: 400px;
}

.function-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

label{
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 1.5rem;
}

input{
    border-radius: 4px;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 1.5rem;
}

button{
    background-color: black;
    color: #ccc;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 1.5rem;
}