.form-container{
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.15);
    color: green;
    display: flex;
    flex-direction: column;
    height: 550px;
    padding: 2rem;
    width: 400px;
}

.form-title{
    text-align: center;
}

.function-container{
    display: flex;
    flex-direction: column;
    height: 250px;
    margin-bottom: 0.5rem;
}

label{
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 0.5rem;
}

textarea{
    background: transparent;
    border-radius: 4px;
    color: green;
    font-size: 14px;
    font-weight: 500;
    height: 4rem;
    margin-bottom: 0.5rem;
    outline: none;
    padding: 5px;
}

button{
    background-color: green;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 0.5rem;
    outline: none;
    padding: 4px 0;
}

.output-container{
    display: flex;
    flex: 1; 
    flex-direction: column;
    padding: 4px 0 4px 0;
}

p{
    font-size: 12px;
    line-height: 14px;
    word-break: break-all;
}


@media screen and (max-width:500px) {
    .form-container{
        width: 80%;
    }
}