.form-container{
    background-color: rgba(255, 255, 255, 0.6);
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 500px;
    padding: 2rem;
    width: 400px;
}

.form-title{
    text-align: center;
}

.function-container{
    display: flex;
    flex-direction: column;
    height: 250px;
    margin-bottom: 0.5rem;
}

label{
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 0.5rem;
}

textarea{
    background: transparent;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    height: 4rem;
    margin-bottom: 0.5rem;
    outline: none;
    padding: 5px;
}

button{
    background-color: black;
    color: #ccc;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 0.5rem;
}

.output-container{
    display: flex;
    flex: 1; 
    flex-direction: column;
    padding: 4px 0 4px 0;
}

p{
    font-size: 12px;
    line-height: 14px;
    word-break: break-all;
}