*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  background-color: green;
  /* background-image: url(../src/Assets/pexels-uzunov-rostislav-5011647.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}